.country-section-wrapper{
    padding: 0 5rem 4rem 5rem;
    position: absolute;
    top: 14rem;
    display: grid;
    row-gap: 8rem;
    column-gap: 7rem;
    grid-template-columns: repeat(5, 19.25rem);
    grid-template-rows: repeat(3, 24rem);
}