.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    width: calc(100vw - 10rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}
.switch-img{
    width: 1.2rem;
    height: 1.2rem;
    
}
.switch-mode{
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.header-white{
    background-color: var(--header-color-white);
    color: black;
}
.header-dark{
    background-color: var(--header-color-dark);
    color: white;
}

.header-left-side{
    font-weight: bolder;
    font-size: 1.5rem;
}

.header-right-side{
    font-weight: lighter;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}