.country-page-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 0 5rem;
    margin-top: 3rem;
}
.country-page-content-wrapper-white{
    color: black;
}
.country-page-content-wrapper-dark{
    color: white;
}
    

.back-wrapper{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    padding: 0.7rem 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.back-wrapper-white{
    color: black;
    background-color: var(--header-color-white);
}

.back-wrapper-dark{
    color: white;
    background-color: var(--header-color-dark);
}
.back-img{
    image-rendering: optimizeQuality;
}

.country-content-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.country-page-img{
    width: 40rem;
    height: 30rem;;
}
.country-page-name{
    font-size: 2.5rem;
    font-weight: bolder;
}

.country-page-detail{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.country-page-info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
}

.info-left, .info-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.key{
    font-weight: 1000;
}
.value{
    font-weight: 100;
}
.key-value{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem
}

.border-wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    margin-top: 2rem;
    align-items: center;
}

.border-countries{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    width: 50rem;
    overflow-x: auto;
}